* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #047f94;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 800px;
}

/* Main container with flexbox layout */
.hero {
  background: #fff;
  width: 90%;
  max-width: 800px;
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  font-size: 24px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
}

.quiz {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz h2 {
  font-size: 22px;
  color: #001e4d;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

#answer-buttons button:nth-child(1), /* Choice 1 */
#answer-buttons button:nth-child(2), /* Choice 2 */
#answer-buttons button:nth-child(3), /* Choice 3 */
#answer-buttons button:nth-child(4) { /* Choice 4 */
  font-size: 18px;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  text-align: center;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

.watch-link {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #fff;
  text-decoration: none;
}
