* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  background: #181A20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  height: auto; /* Auto-adjust height based on content */
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

#question {
  width: 100%;
  text-align: left;
  color: #cccccc; /* Light grey color */
  font-size: 28px;
  margin-bottom: 40px;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.btn {
  background: rgb(236, 57, 146);
  color: white;
  border: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.btn:hover {
  background: rgb(217, 0, 110);
}

#next-btn {
  background: #000000;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  width: 100px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  text-align: center;
}

.correct {
  background: #00b64f;
}

.incorrect {
  background: hsl(337, 100%, 58%);
}
